<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DDH - Início</title>
    <link rel="stylesheet" href="../../static/css/styles.css" />
  </head>

  <body>
    <header class="barra-topo">
      <div class="div-logo">
        <img class="img-logo" src="../../static/imgs/DDH-Icon.png" />
      </div>
      <div class="titulo">
        Instituto de Defensores de Direitos Humanos - DDH
      </div>

      <div class="redes-sociais">
        <a href=""><img class="icon-rede" src="../../static/imgs/twitter.png" /></a>
        <a href="https://www.facebook.com/institutoddh/"><img class="icon-rede" src="../../static/imgs/facebook.png" /></a>
        <a href=""><img class="icon-rede" src="../../static/imgs/instagram.png" /></a>
      </div>

      <div class="div-nav">
        <a href="" class="nav-opcoes">Sobre nós</a>
        <a href="" class="nav-opcoes">Apoie</a>
        <a href="" class="nav-opcoes">Impacto</a>
        <a href="" class="nav-opcoes">Transparência</a>
      </div>
    </header>

    <section class="posts">
      {% for post in posts %}
      <article class="publicacao">
      <h2 class="publi-titulo">{{ post.titulo }}</h2>
      <p class="publi-texto">{{ post.texto|linebreaksbr|safe }}</p>
      <img class="publi-img" src="{{ post.imagem.url }}" />
    </article>
      {% endfor %}
      </article>
    </section>
  </body>
</html>
